<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Custom Login Form Styling</title>
        <meta name="description" content="SAS" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/login/style.css" />
		<!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
		<style>	
			
			body {
				background: #7f9b4e 
				url(css/login/bg.jpg)
				
				repeat-y center top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
			}
			.container > header h1,
			.container > header h2 {
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.7);
			}
			
			
			.box-container {
				border: 1px solid rgba(153, 153, 153, 0.75);
				border-radius: 10px;
				z-index: 3;
				font-size: 13px !important;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				background-color: rgba(86, 206, 255, 0.33);
				min-height : 400px;
				min-width : 300px;
				margin-left : 40px;
				margin-top : 40px;
			
			}
			
			.left{
				float : left;
			}
			.right{
				float : right;
			}
		</style>
    </head>
    <body>
        <div class="container">
		
			<header>
			
				<h1></h1>
				<h2></h2>
				
				<div class="support-note">
					<span class="note-ie">Sorry, only modern browsers.</span>
				</div>
				
			</header>
			
			<section class="main">
			<table width="100%"> 
			<tr>
			<td>
			<div class="box-container left">
				<form class="form-description ">
				    <h1><strong>PHẦN MỀM QUẢN LÝ ĐÀO TẠO</strong></h1>
				    <p>
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
				    </p> <p>
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
				    </p> <p>
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
						Trung tâm điện toán bách Khoa
				    </p>
				</form>​
				</div>
				</td>
				<td>
				<div class="box-container left">
				<form class="form-4" action="login.action">
				    <h1><strong>ĐĂNG NHẬP</strong></h1>
				    <p>
				        <label for="login">Username</label>
				        <input type="text" name="username" placeholder="Username" required>
				    </p>
				    <p>
				        <label for="password">Password</label>
				        <input type="password" name='password' placeholder="Password" required> 
				    </p>

				    <p>
				        <input type="submit" name="submit" value="Continue">
				    </p>       
				</form>​
				</div>
				</td>
				</tr>
				</table>
			</section>
			
        </div>
    </body>
</html>