
#wrap {
position:relative;
width:1024px;
margin:auto;
min-height:0;
top:10;

}

body {
	margin:0;
	padding:0;
	background-color: #FFFFFF;
}

body, td, p, select, input, textarea {
	font-family: Tahoma;
	font-size: 12px;
}

td {
height: 24px;
}
img {border:0px;}

.leftMenu {
	color: #000000;
	background-color: #0099FF;
	list-style-type: disc;
	font-size: 12px;
	text-align: right;
	text-indent: 0px;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #0099CC;
	border-right-color: #FFFFFF;
	border-bottom-color: #0099CC;
	border-left-color: #0099CC;
}
.leftMenu:hover { background-color: #0089FF; }

.heading1 {
	vertical-align: middle;
	color: #000000;
	background-color: #0099FF;
	font-weight: bold;
	font-size: large;
	text-transform: capitalize


}
a:link {
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	border:none;
	font-size:12px;
	text-align:left;
}
a:hover {
	color: #000000;
	text-shadow:#666666;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #0000CC;
	border-right-color: #0000CC;
	border-bottom-color: #0000CC;
	border-left-color: #0000CC;
	
}
input {
	font-weight:bold;
}

.tableborder {
	border: medium solid #CC0000;
}

.moduleheader {
	border-right:thin none #999999; border-top:thin none #999999; border-bottom:thin dashed #999999; color: #666666;
	background-color: #FFFFFF;
	border-left-color: #999999;
	font-size: 18px; 
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	border-left-width: thin; font-weight:bold; text-indent:5; margin-left:5


}
.modulemenu {
	font-size: 12px;
	color: #999999;
	text-align: right;
	padding: 5px;
	border: thin none;
	background-color: #FFFFFF;
	vertical-align: middle;





}
.pageheader {
	color: #FFFFFF;
	background-color: #000000;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
	background-image: url(images/grad.jpg);
	height: 30px;
	line-height:30px;

}

.groupheader {
	color: #000000;
	background-image:url(images/groupmenublue.png);
	vertical-align: middle;
	padding-left: 10px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
}

.pageheader_line { 
	background-image:url(images/groupblue1.png);
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	
	}


.tableheader {
	color:#FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: url(images/grad.jpg);
	height: 30px;
}
.tableheader:hover { background-color: #0099FF; }

.tablemenu {
	font-size: 12px;
	background-color: #0099FF;
	text-align: right;
	vertical-align: middle;
	color: #FFFFFF;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	padding: 5px;


}
.tableitem {
	background-color: #FFFFFF;
	vertical-align: middle;
	color: #000000;
	padding: 1px 1px 1px 1px;
}

.tableitem:hover { background-color: #FFFFD0; }

.tableitemLink {
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}

.tableitemleft {
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;

	padding: 0px 0px 0px 10px;
}
.formlabel {
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	padding-right: 10px;

}
.formcontrol {
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

}
a:visited {
	color: #666666;
	text-decoration: none;

}
button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.texfield{
	width:120%;
	text-align:center;
	font-weight:bold;
	color:#0000FF;	
	background:#FFFFFF;
	outline-color:#FFFFFF;
	
}
.tableitemShowOwner {
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	padding: 1px 1px 1px 1px;
	cursor: hand;
}

.box {
	width:400px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	}

.title {
	width:1024px;
	font-size:12px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#FFFFFF;
	align: center;
	background-color: #000000;
	background-image: url(images/grad.jpg);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}
.menu{
position:relative;
width:1024px;
height:30px;
margin:auto;
min-height:0;
text-align:center;

}

.mytable
{
border:#FFFFFF thin solid; width:1024; height: auto; left:25; overflow-y: auto;
}




#MySplitter {
	height: 600px;
	border: 3px solid #aaa;
}
#MySplitter div {
	overflow: auto;
}
.vsplitbar {
	width: 5px;
	background: #aaa;
}



ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul#menu a {
  display: block;
  text-decoration: none;	
}

ul#menu li {
  margin-top: 1px;
}

ul#menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}
ul#menu li a.over {
  background: #aaa;
  border-left: 5px #000 solid;	
  padding: 0.5em;
}

ul#menu li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
}

ul#menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
