#if($msg.preMessage_b == true && $msg.postMessage_b == true )
{"code":"SUCCESS", "msg": "$!msg.postMessage_s"}
#elseif($msg.preMessage_b == false)
$!msg.preMessage_s
#elseif($msg.postMessage_b == false)
$!msg.postMessage_s
#end