<tr > 
	<th colspan="4" style="text-align:center;">
		<div>BỘ GIÁO DỤC VÀ ĐÀO TẠO </div>				
		<div>TRƯỜNG CAO ĐẲNG VIỄN ĐÔNG		</div>

	</th>
	<th colspan="4"  style="text-align:center;">
		<div>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM </div>				
		<div>						
		Độc lập - Tự do - Hạnh phúc				
</div>

	</th>

</tr>