#parse("vm/common.vm") 
#set ($numTool = $struts.bean('org.apache.velocity.tools.generic.NumberTool')) 
#set ($dateTool = $struts.bean('org.apache.velocity.tools.generic.DateTool')) 
<script> 
function clearForm(formName, formSuffix){ 
    var form =  jQuery("#" + formName + formSuffix); 
    //clear all message validate error  
    form.validate().resetForm(); 
    //clear all input 
    form.find(':input').each(function() { 
        switch(this.type) { 
            case 'password': 
            case 'select-multiple': 
            case 'select-one': 
            case 'text': 
            case 'hidden': 
            case 'textarea': 
            jQuery(this).val(''); 
            break; 
            case 'checkbox': 
            case 'radio': 
            this.checked = false; 
        } 
    }); 
   //clear all background of table row 
    //jQuery("tr").css('background-color', '#FFFFFF'); 
    //clear all check box 
    jQuery(".delete").prop('checked',false); 
} 
function addObj(formName,formSuffix){ 
    var form =  jQuery("#" + formName + formSuffix); 
    if(!form.validate().form()) { 
        return false;	 
    } 
    var dataString = form.serialize(); 
    var url = formName + "Insert.action"; 
   mask(''); 
    jQuery.ajax({ 
        type: "POST", 
        url: url, 
        data: dataString, 
        success: function(response) { 
        unmask(''); 
           try{ 
	            var obj = jQuery.parseJSON(response); 
	            Ext.example.msg(obj.code,obj.msg);  
           }catch(error){ 
                 Ext.example.msg('Done', 'Successfull!'); 
            } 
        } 
    }); 
} 
function htmlBox(itemId){ 
    if(jQuery("#"+ itemId).length > 0){ 
        new Ext.form.HtmlEditor({ 
                id:itemId , 
                applyTo:itemId, 
                width: 500, 
                height: 100, 
                enableAlignments:true, 
                enableSourceEdit:true, 
                enableLists:true 
        }); 
    } 
} 
function datepicker(){ 
    jQuery(".date").datepicker({	 
        changeMonth: true, 
        changeYear: true, 
        yearRange: '1900:c+10', 
        howButtonPanel: true, 
        dateFormat : 'dd/mm/yy' 
    }); 
} 
jQuery(function() { 
    //textarea : wysiwyg 
    htmlBox("tblDonViTextarea"); 
    datepicker(); 
}); 
</script> 

<div id="loading" /> 
<fieldset class='x-fieldset'> 
<legend> tbl_DonVi </legend> 
<form id="tblDonViAddForm"> 
<table>  
<input type="hidden" id="tblDonViid" name="id" value="$!tblDonVi.id"  size='35' class='x-form-text'/>  

<tr>  
<td>  
<label>Mã đơn vị</label>  
</td>  
<td>  
<input name="ma" size='35' value="$!tblDonVi.ma"  class='x-form-text '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Tên đơn vị</label>  
</td>  
<td>  
<input name="ten" size='35' value="$!tblDonVi.ten"  class='x-form-text '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Đơn vị cha: </label>  
</td>  
<td>  
<div  class='form-select ' > 
<select name="donViChaId"  class='form-select '>  
<option value=""></option>  
#foreach($p in $tblDonVis)  
    #if($p.id == $!tblDonVi.donViChaId.id)  
    <option value="$!p.id" selected>$!p.ma - $!p.ten</option>  
    #else   
    <option value="$!p.id">$!p.ma - $!p.ten</option>  
    #end  
#end  
</select>  
</div> 
</td>  
</tr>  
<tr>  
<td>  
<label>Email</label>  
</td>  
<td>  
<input name="email" size='35' value="$!tblDonVi.email"  class='x-form-text '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>SDT</label>  
</td>  
<td>  
<input name="sdt" size='35' value="$!tblDonVi.sdt"  class='x-form-text '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Địa chỉ</label>  
</td>  
<td>  
<input name="diaChi" size='35' value="$!tblDonVi.diaChi"  class='x-form-text '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Trưởng đơn vị</label>  
</td>  
<td>  
<input name="truongDonVi" size='35' value="$!tblDonVi.truongDonVi"  class='x-form-text '/>  
</td>  
</tr>  
</table>  
</form>  
<input type='button' class='x-panel-btns'   id="skip" name="skip" value="Bo&#777; Qua" onClick="clearForm('tblDonVi','AddForm');"/>  
<input type='button' class='x-panel-btns'   id="add" name="add" value="Tạo mới" onClick="addObj('tblDonVi','AddForm');" />  
</fieldset>  
</div>  

