#parse("vm/common.vm") 
#set ($numTool = $struts.bean('org.apache.velocity.tools.generic.NumberTool')) 
<script> 
function clearForm(formName){ 
    var form =  jQuery("#" + formName + "AddForm"); 
    //clear all message validate error  
    form.validate().resetForm(); 
    //clear all input 
    form.find(':input').each(function() { 
        switch(this.type) { 
            case 'password': 
            case 'select-multiple': 
            case 'select-one': 
            case 'text': 
            case 'hidden': 
            case 'textarea': 
            jQuery(this).val(''); 
            break; 
            case 'checkbox': 
            case 'radio': 
            this.checked = false; 
        } 
    }); 
   //clear all background of table row 
    //jQuery("tr").css('background-color', '#FFFFFF'); 
    //clear all check box 
    jQuery(".delete").prop('checked',false); 
} 
function addObj(formName){ 
    var form =  jQuery("#" + formName + "AddForm"); 
    if(!form.validate().form()) { 
        return false;	 
    } 
    var dataString = form.serialize(); 
   //serializeOthers :ham cuc bo cho tung file 
   dataString += serializeOthers(); 
   
   
    var url = formName + "Insert.action"; 
    jQuery.ajax({ 
        type: "POST", 
        url: url, 
        data: dataString, 
        success: function(response) { 
            Ext.example.msg('Done', 'Successfull!'); 
        } 
    }); 
} 
function htmlBox(itemId){ 
    if(jQuery("#"+ itemId).length > 0){ 
        new Ext.form.HtmlEditor({ 
                id:itemId , 
                applyTo:itemId, 
                width: 500, 
                height: 100, 
                enableAlignments:true, 
                enableSourceEdit:true, 
                enableLists:true 
        }); 
    } 
} 
function datepicker(){ 
    jQuery(".date").datepicker({	 
        changeMonth: true, 
        changeYear: true, 
        yearRange: '1900:c+10', 
        howButtonPanel: true, 
        dateFormat : 'dd/mm/yy' 
    }); 
} 
jQuery(function() { 
    //textarea : wysiwyg 
    htmlBox("tblQuyenTextarea"); 
    datepicker(); 
    jQuery("#loading").ajaxStart(function(){ 
       Ext.MessageBox.show({ 
           msg: 'Please wait...', 
           width:300, 
           wait:true, 
           icon:'extanim32' //custom class in msg-box.html 
       }); 
     }); 
    jQuery("#loading").ajaxStop(function(){ 
        Ext.MessageBox.hide(); 
     });   
}); 
function serializeOthers(){ 
var dataString = ""; 
//tblQuyenChiTiet format = [{key:val}] 
var tblQuyenChiTiet="["; 
jQuery("#tblQuyenChiTiettable tr").each(function() { 
    var recentRow =  jQuery(this); 
	
    if(recentRow.find("input[name=check]").prop('checked') == true){ 
        tblQuyenChiTiet += "{"; 
        tblQuyenChiTiet += "'xem' : '" +recentRow.find("[name='xem']").prop('checked')+"', "; 
        tblQuyenChiTiet += "'them' : '" +recentRow.find("[name='them']").prop('checked')+"', "; 
        tblQuyenChiTiet += "'xoa' : '" +recentRow.find("[name='xoa']").prop('checked')+"', "; 
        tblQuyenChiTiet += "'sua' : '" +recentRow.find("[name='sua']").prop('checked')+"', "; 
        tblQuyenChiTiet += "'bangId' :" +recentRow.find("#bangId").val()+", "; 
        tblQuyenChiTiet += "},"; 
    } 
}); 
tblQuyenChiTiet += "]"; 
dataString += "&tblQuyenChiTietStr=" + tblQuyenChiTiet; 
//tblQuyenMenu format = [{key:val}] 
var tblQuyenMenu="["; 
jQuery("#tblQuyenMenutable tr").each(function() { 
    var recentRow =  jQuery(this); 
    if(recentRow.find("input[name=menu]").prop('checked') == true){ 
        tblQuyenMenu += "{"; 
        tblQuyenMenu += "'menuId' :" +recentRow.find("#menuId").val()+", "; 
        tblQuyenMenu += "},"; 
    } 
}); 
tblQuyenMenu += "]"; 
dataString += "&tblQuyenMenuStr=" + tblQuyenMenu; 
//end 
return dataString; 
} 

function checkRow(rowId){

		jQuery("#xem" + rowId).attr('checked', typeof jQuery("#check" + rowId).attr('checked') !== "undefined");
		jQuery("#them" + rowId).attr('checked', typeof jQuery("#check" + rowId).attr('checked') !== "undefined");
		jQuery("#xoa" + rowId).attr('checked', typeof jQuery("#check" + rowId).attr('checked') !== "undefined");
		jQuery("#sua" + rowId).attr('checked', typeof jQuery("#check" + rowId).attr('checked') !== "undefined");
	
	
	
}
function checkColumn(colId){
	jQuery("[name='" +colId+ "'").attr('checked', typeof jQuery("#" + colId + "All").attr('checked') !== "undefined");
		
}
</script> 

<div id = "loading" /> 
<body> 
<fieldset class='x-fieldset' > 
<legend>Quyền</legend> 
<form id="tblQuyenAddForm"> 
<table>  
<input type="hidden" id="tblQuyenid" name="id" value=""  size='35' class='x-form-text'/>  

<tr>  
<td>  
<label>Tên quyền</label>  
</td>  
<td>  
<input name="ten" value=""   size='35' class='x-form-text  '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Ghi chú</label>  
</td>  
<td>  
<input name="ghiChu" value=""   size='35' class='x-form-text  '/>  
</td>  
</tr>  
</table>  
</fieldset> 
<fieldset class='x-fieldset' > 
<legend>Danh mục Bảng</legend> 

<table id="tblQuyenChiTiettable" border='0' width='100%' cellpadding='1' cellspacing='1'> 
<tr> 
<td colspan='2' > 
<label for='xemAll'>Xem</label> 
<input id='xemAll' name='xemAll' type='checkbox' onchange="checkColumn('xem')" /> 
</td> 
<td colspan='2' > 
<label for='themAll'>Thêm</label> 
<input id='themAll' name='themAll' type='checkbox' onchange="checkColumn('them')"/> 
</td> 
<td colspan='2' > 
<label for='xoaAll'>Xóa</label> 
<input id='xoaAll' name='xoaAll' type='checkbox' onchange="checkColumn('xoa')"/> 
</td> 
<td colspan='2' > 
<label for='suaAll'>Sửa</label> 
<input id='suaAll' name='suaAll' type='checkbox' onchange="checkColumn('sua')"/> 
</td> 
<td> 
<input id='bangId' type='hidden' value='All'/>  
<input id='checkAll' name='checkAll' type='checkbox' onchange="checkColumn('check')" />  
<label for='checkAll'> Tat ca</label> 
</td> 
</tr>
#foreach($tblDBTable in $tblDBTables) 
<tr> 
<td colspan='2' > 
<label for='xem$tblDBTable.id'>Xem</label> 
<input id='xem$tblDBTable.id' name='xem' type='checkbox' /> 
</td> 
<td colspan='2' > 
<label for='them$tblDBTable.id'>Thêm</label> 
<input id='them$tblDBTable.id' name='them' type='checkbox' /> 
</td> 
<td colspan='2' > 
<label for='xoa$tblDBTable.id'>Xóa</label> 
<input id='xoa$tblDBTable.id' name='xoa' type='checkbox' /> 
</td> 
<td colspan='2' > 
<label for='sua$tblDBTable.id'>Sửa</label> 
<input id='sua$tblDBTable.id' name='sua' type='checkbox' /> 
</td> 
<td> 
<input id='bangId' type='hidden' value='$tblDBTable.id'/>  
<input id='check$tblDBTable.id' name='check' type='checkbox' onchange="checkRow($tblDBTable.id)" />  
<label for='check$tblDBTable.id'> #if($tblDBTable.tenTV && $tblDBTable.tenTV != "" )$tblDBTable.tenTV #else $tblDBTable.ten #end </label> 
</td> 
 </tr> 
#end 
</table> 
</fieldset> 
<fieldset class='x-fieldset' > 
<legend>Danh mục Menu</legend> 
<table id="tblQuyenMenutable" border='0' width='100%' cellpadding='1' cellspacing='1'> 
<tr> 

<td> 
<input id='menuAll' name='menuAll' type='checkbox' onchange="checkColumn('menu')"/>  
<label for='checkAll'> All</label> 
</td> 
 </tr> 
#foreach($tblMenu in $tblMenus) 
<tr> 

<td> 
<input id='menuId' type='hidden' value='$tblMenu.id'/>  
<input id='menu$tblMenu.id' name='menu' type='checkbox' />  
<label for='menu$tblMenu.id'> $tblMenu.ten </label> 
</td> 
 </tr> 
#end 
</table> 
</fieldset> 
</form> 
<input type='button'  class='x-panel-btns'  id='skip' name='skip' value='Bo&#777; Qua' onClick="clearForm('tblQuyen');" /> 
<input type='button' class='x-panel-btns' id='add' name='add' value='Đồng Ý' onClick="addObj('tblQuyen');" /> 
</body>
