#set ($dateTool = $struts.bean('org.apache.velocity.tools.generic.DateTool')) 
#set ($numTool = $struts.bean('org.apache.velocity.tools.generic.NumberTool'))
<form id='tblQLDTLTOptionGrouptblQLDTLTOptionListForm' name='tblQLDTLTOptionListForm'> 
<table cellspacing="0" id="tblQLDTLTOptionGrouptblQLDTLTOptionTable" width='100%'> 
<thead> 
<tr style="background:#eeeeee;"> 
<th>STT</th> 
<th>ma</th> 
<th>ten</th> 
<th>sortOrder</th> 
<th>Chọn</th> 
<th width="10%">Sửa</th> 
   </tr> 
</thead> 
<tbody> 
#set($i = 0) 
#foreach($d in $tblQLDTLTOptions) 
    #if($d.id) 
    <tr class='tableitem' id="tblQLDTLTOption$d.id"> 
<td>$!i</td> 
<td>$!d.ma</td> 
<td>$!d.ten</td> 
<td>$!d.sortOrder</td> 
<td> 
<input type="checkbox" value="$d.id" class='delete' /> 
</td>	 
<td> 
<span class="btn btn-default"  id="tblQLDTLTOptionEdit$i" width="25" height="25"    
         onclick="editRow('tblQLDTLTOptionGrouptblQLDTLTOption', $d.id)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cập nhật</span> 
</td> 
          </tr> 
#end 
#set($i = $i +1) 
#end 
</tbody> 
</table> 
</form> 
<div class="pagination"> 
    #if($page >1) 
        #set($prePage = $page - 1) 
        <span onclick="searchForm('tblQLDTLTOptionGrouptblQLDTLTOption',$pageSize,1,'$!dataString');" class="page gradient">&#8676; Đầu</span> 
        <span onclick="searchForm('tblQLDTLTOptionGrouptblQLDTLTOption',$pageSize,$prePage,'$!dataString');" class="page gradient">&larr;</span> 
    #end 
    #set($start = $page - 2) 
    #set($endpage = $page + 2) 
    #if($endpage < 5) 
        #set($endpage = 5) 
    #end 
    #if($start< 1) 
        #set($start = 1) 
    #end 
    #if($pages < $endpage) 
        #set($endpage = $pages) 
    #end 
    #foreach($p in [$start..$endpage])  
        #if($p == $page)  
            <span class="page active">$p</span> 
            <span></span> 
        #else  
            <span onclick="searchForm('tblQLDTLTOptionGrouptblQLDTLTOption',$pageSize,$p,'$!dataString');" class="page gradient">$p</span> 
        #end 
    #end 
    #if($page != $pages) 
        #set($nextPage = $page + 1) 
        <span onclick="searchForm('tblQLDTLTOptionGrouptblQLDTLTOption',$pageSize,$nextPage,'$!dataString');" class="page gradient">&rarr;</span> 
        <span onclick="searchForm('tblQLDTLTOptionGrouptblQLDTLTOption',$pageSize,$pages,'$!dataString');" class="page gradient">Cuối &#8677;</span> 
    #end 
</div> 

