<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
#set ($dateTool = $struts.bean('org.apache.velocity.tools.generic.DateTool')) 
#set ($numTool = $struts.bean('org.apache.velocity.tools.generic.NumberTool')) 

<div id="tblQLDTHTMLReporttblQLDTHTMLReportParam"> 
<table>  
<input type="hidden" id="tblQLDTHTMLReporttblQLDTHTMLReportParamid" name="id" value="$!tblQLDTHTMLReportParam.id" class=''/>  

<tr>  
<td>  
<label>Tên tham số</label>  
</td>  
<td>  
<input name="ten"value="$!tblQLDTHTMLReportParam.ten" size='68' class='x-form-text  '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Nhãn</label>  
</td>  
<td>  
<input name="label"value="$!tblQLDTHTMLReportParam.label" size='68' class='x-form-text  '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>Loại biến</label>  
</td>  
<td>  
<input name="type"value="$!tblQLDTHTMLReportParam.type" size='68' class='x-form-text  '/>  
</td>  
</tr>  
<tr>  
<td>  
<label>SQl để autocomplete</label>  
</td>  
<td>  
<textarea id="tblQLDTHTMLReporttblQLDTHTMLReportParamTextarea2" name="paramSql"  class='area'>$!tblQLDTHTMLReportParam.paramSql</textarea>  
</td>  
</tr>  
<tr>  
<td>  
<label>Biến truyền vào SQL</label>  
</td>  
<td>  
<input name="paramVariable"value="$!tblQLDTHTMLReportParam.paramVariable" size='68' class='x-form-text  '/>  
</td>  
</tr>  
</table>  
</div>  

