
<script>
//bien toan cuc : cac suffix cho url
var insertLink = "Insert.action";
var updateLink = "Update.action";
var deleteLink = "Delete.action";
var searchLink = "Search.action";
var responseSuffix = "List";

$(function() {
		jQuery.noConflict();
	});

//==============
//Ham lay du lieu cua 1 row tren table va add vao cac field trong form
//==============
function editRow(rowid,formName){
	var recentRow =  jQuery("#"+rowid);
	
	clearForm(formName);
	jQuery("tr").css('background-color', '#FFFFFF');
	jQuery(".delete").attr('checked',false);

	recentRow.css('background-color', '#FFFF99');
	recentRow.find('input').attr('checked',true);

	recentRow.find("td").each(
	    function () {
		    if(jQuery(this).attr("id") != ""){
			if(jQuery(this).attr("class") == "radio"){
				radioBtnEdit(jQuery(this));
				
			} else if(jQuery(this).attr("class") == "area"){
				areaEdit(jQuery(this));
			} else {
				jQuery("#"+jQuery(this).attr("id")).val(jQuery(this).text());
				
			}
		    }	
	    }
	);
}

//================
//Ham danh dau row da duoc check bang mau vang
//================
function checkRow(rowid,check){
	var recentRow =  jQuery("#"+rowid);
	if(check){
		recentRow.css('background-color', '#FFFF99');
	} else {
		recentRow.css('background-color', '#FFFFFF');
	}
}

//=================
//Ham xoa trang cac field nhap lieu co ban,
//cac field dac biet cua moi Form se duoc goi trong ham con: clearOthers();
//=================
function clearForm(formName){
	var form =  jQuery("#" + formName + "Form");

	//clear all message validate error 
	form.validate().resetForm();

	//clear all input
	form.find(':input').each(function() {
		switch(this.type) {
		    case 'password':
		    case 'select-multiple':
		    case 'select-one':
		    case 'text':
		    case 'textarea':
			jQuery(this).val('');
			break;
		    case 'checkbox':
		    case 'radio':
			this.checked = false;
		}
	});

	//clear all background of table row
	jQuery("tr").css('background-color', '#FFFFFF');

	//clear all check box
	jQuery(".delete").attr('checked',false);

	//clear message
	jQuery('#msg').html("");
	//clear special field
	clearOthers();

}

//=====================
// Tim kiem theo cac gia tri nhap trong form
//=====================
function searchForm(formName,pageSize,page){

	var form =  jQuery("#" + formName + "Form");
	var dataString = form.serialize()+"&pageSize=" + pageSize + "&page=" + page;

	var url = formName + searchLink;
	var responseId = formName + responseSuffix;

	ajaxExe(dataString, url, responseId);
}

//====================
//xoa cac row da check
//====================
function deleteObjs(formName){
	var idList = "";
	jQuery(".delete:checked'").each(
		function () {
			idList += jQuery(this).val() +",";
		}
	);
	idList= idList.slice(0,idList.length-1); 

	if(idList== ""){
		return false;
	}

	var dataString = "idList=" + idList;
	var url = formName + deleteLink;
	var responseId = formName + responseSuffix;
	ajaxExe(dataString,url,  responseId);

}

//====================
//Them moi hoac sua 
//====================
function saveForm(formName){
	
	var form =  jQuery("#" + formName + "Form");

	form.validate({
	  rules: {
	    ngoainguid: {
	      min: 1
	    },
	     ketquaid: {
	      min: 1
	    }
	  },
	   messages: {
	     ngoainguid: "<br>Bạn phải chọn ngôn ngữ!",
	     ketquaid: "<br>Bạn phải chọn kết quả!"
	    
	   }

	});

	
	if(!form.validate().form()) {
		return false;
		
	}
	
	var dataString = form.serialize();
	var responseId = formName + responseSuffix;
	var url = "";
	if( jQuery('#' + formName + 'id').val() == "" || jQuery('#' + formName + 'id').val() == "0"){
		url = formName + insertLink;
		ajaxExe(dataString,url,responseId);
	} else {
		url = formName + updateLink;
		ajaxExe(dataString,url,responseId);

		//tro lai trang thai add sau khi update
		jQuery('#'+ formName + 'id').val('');
	}

	
}

//======================
//ham ajax thuc thi
//======================
function ajaxExe(dataString,url, responseId){
	dataString += serializeOthers();
	jQuery.ajax({
		type: "POST",
		url: url,
		data: dataString,
		success: function(response) {
			var result = response.split("<result/>");
			if(result[0].trim() == "true"){
				jQuery("#" + responseId).html(result[1]);
				jQuery("#msg").html("Thành công!");
			} else {
				jQuery("#msg").html(result[1]);
			}
		}
	});
}

</script>