
$!msg.preMessage_b
<result/>


<script type="text/javascript" src="jquery/jcarousel/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="jquery/jcarousel/skin/skin.css" />

<script>
function openPopup(url){
	url ="http://" +  location.host + url ;
	jQuery.modal('<iframe src="' + url + '" height="550" width="900" style="border:0">', {
		closeHTML:"",
		containerCss:{
			backgroundColor:"#fff",
			borderColor:"#fff",
			height:550,
			padding:0,
			width:900
		},
		opacity:80,
		overlayCss: {backgroundColor:"#736F6E"},
		overlayClose:true,
		focus:false
	});
}

jQuery(function() {
	jQuery('#mycarousel').jcarousel({
		 start: $page,
		 scroll: 10,
		 visible: 10
	    });
});
</script>
#set ($dateTool = $struts.bean('org.apache.velocity.tools.generic.DateTool'))
<form id='employeeListForm' name='employeeListForm'>
<table border='0' width='100%' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
	<th>ID</th>
	<th>Mã NV</th>	
	<th>Tên NV</th>
	<th>Tuổi </th>
	<th>Giới tính </th>
	<th>Sở thích </th>
	<th>Sở thích ID</th>
	<th>Khoa </th>
	<th>KhoaID </th>
	<th>Hệ số lương </th>
	<th>Ngày sinh </th>
	<th>Hình ảnh </th>
	<th>Mô tả </th>
	<th>Chọn</th>
</tr>

</theader>
<tbody>
#set($i = 0)
#foreach($d in $employees)
	#if($d.id)
	<tr class='tableitem' id="emp$d.id" onDblClick="editRow('emp$d.id','employee')" onmouseover="jQuery(this).css('cursor','pointer');">
	
		<td id="employeeid">$!d.id</td>
		<td id="maNV">$!d.maNV</td>
		<td id="tenNV">$!d.tenNV</td>
		<td id="tuoi">$!d.tuoi</td>
		<td id="gioitinh">
		#if($!d.gioitinh)
			Nam
		#else
			Nữ
		#end
		
		</td>
		<td id="sothichidcombo">$!d.sothich.ten</td>
		<td id="sothichid">$!d.sothich.id</td>
		<td id="khoaidcombo">$!d.khoa.ten</td>
		<td id="khoaid">$!d.khoa.id</td>
		<td id="hesoluong">$!d.hesoluong</td>
		<td id="ngaysinh">$!dateTool.format('dd/MM/yyyy',$!d.ngaysinh)</td>
		<td id="hinhanh"><a onclick="openPopup('$!d.hinhanh');" > Xem file </a> </td>
		<td id="mota" class='area'>$!d.mota</td>
		

		<td>
		<input type="checkbox" value="$d.id" class='delete' onClick="checkRow('emp$d.id',this.checked);"/>

	</td>		
	</tr>
	#end

#set($i = $i +1)
#end
</tbody>
</table>
</form>
<br>


<div id = "divFirstPage">
#set($nextpage=$page+1)

#if($page > 0)
	#set($prepage=$page-1)
#end
 <INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,1);" VALUE="<< Trang đầu " />
#if($page > 1)
<INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,$prepage);" VALUE="&lt; Trang tr&#432;&#417;&#769;c" />   
&nbsp&nbsp 
#else
<INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,$prepage);" VALUE="&lt; Trang tr&#432;&#417;&#769;c" disabled/>   
&nbsp&nbsp 
#end

</div>


<div id="divContentPage">

  <ul id="mycarousel" class="jcarousel-skin-tango">
    #foreach($p in [1..$pages])
	<li OnClick="searchForm('employee',$pageSize,$p);">
	#if($p == $page)
		<b> $p </b>
	#else
		$p 
	#end
	</li>

#end
  </ul>

</div>


<div id='divLastPage'>

#if($i == $pageSize && $i > 0)
&nbsp   &nbsp   <INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,$nextpage);" VALUE="Trang sau >" />

#else 
&nbsp   &nbsp   <INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,$nextpage);" VALUE="Trang sau >" disabled/>

#end


 <INPUT TYPE=BUTTON OnClick="searchForm('employee',$pageSize,$pages);" VALUE="Trang cuối >>" />

</div>






