
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
#parse("common.vm")

<script type="text/javascript" src="jquery/ui/minified/jquery.ui.autocomplete.min.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.min.js"></script>

<script type="text/javascript" src="jquery/htmlbox/htmlbox.colors.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.styles.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.syntax.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.undoredomanager.js"></script>


<script>
//****************************************
//javascript chung cho cac form kieu form7AddForm
//****************************************

function clearForm(formName){
	var form =  jQuery("#" + formName + formSuffix);

	//clear all message validate error 
	form.validate().resetForm();

	//clear all input
	form.find(':input').each(function() {
		switch(this.type) {
		    case 'password':
		    case 'select-multiple':
		    case 'select-one':
		    case 'text':
		    case 'textarea':
			jQuery(this).val('');
			break;
		    case 'checkbox':
		    case 'radio':
			this.checked = false;
		}
	});
	
	//clear all background of table row
	jQuery("tr").css('background-color', '#FFFFFF');

	//clear all check box
	jQuery(".delete").attr('checked',false);

	//clear message
	jQuery('#msg').html("");
	//clear special field
	clearOthers();

}

//======================
//ham ajax thuc thi=
//======================
function ajaxExe(dataString,url, responseId){

	jQuery.ajax({
		type: "POST",
		url: url,
		data: dataString,
		success: function(response) {

			var result = response.split("<result/>");
			if(result[0].trim() == "true"){
				jQuery("#msg").html("Thành công!");
				jQuery("#" + responseId).html(result[1]);
				
			} else {
				jQuery("#msg").html(result[1]);
			}
			
		}
	});
	
}

function htmlBox(area){
	return  jQuery("#" + area).css("height","100").css("width","600").htmlbox({
		    toolbars:[
			    [
				// Cut, Copy, Paste
				"separator","cut","copy","paste",
				// Undo, Redo
				"separator","undo","redo",
				// Bold, Italic, Underline, Strikethrough, Sup, Sub
				"separator","bold","italic","underline","strike","sup","sub",
				// Left, Right, Center, Justify
				"separator","justify","left","center","right",
				// Ordered List, Unordered List, Indent, Outdent
				"separator","ol","ul","indent","outdent",
				// Hyperlink, Remove Hyperlink, Image
				"separator","link","unlink","image"
				
				],
				[// Show code
				"separator","code",
			// Formats, Font size, Font family, Font color, Font, Background
			"separator","formats","fontsize","fontfamily",
				"separator","fontcolor","highlight",
				]	
			],
			skin:"blue"
		});
}

//****************************************
//javascript cho tung form
//****************************************
function addObj(formName){
	var form =  jQuery("#" + formName + "AddForm");

	if(!form.validate().form()) {
		return false;
		
	}

	var url = formName + "Insert.action";
	form.attr("action",url);
	alert(form.attr("action"));
	form.submit();
}

var mota;
function serializeOthers(){
	var dataString = "";

	//Them code vao day
	dataString += "&mota=" + mota.get_html();	

	//end

	return dataString;
}

//===========================
//ham goi trong thu vien javascript : employee_js.vm, neu khong dung thi de trong, return "";
//ham dung xoa field dac trung cua moi form
//===========================
function clearOthers(){

	//them code vao day
	mota.set_text("");
}

jQuery(function() {
	jQuery(".date").datepicker({	
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:',
		showButtonPanel: true,
		showOn: "button",
		buttonImage: "images/calendar.gif",
		buttonImageOnly: true

	});
	jQuery( ".date" ).datepicker( "option", "dateFormat", 'dd/mm/yy' );

	//textarea : wysiwyg
	mota = htmlBox("mota");

	});


</script>


<body >
<fieldset>
<legend>Th&ocirc;ng tin NV </legend>

<form id="form7AddForm" action="" method="post">

<font style="color : red; bold : true; font-size : 14px;" ><div id="msg"> </div></font>
<table>
<tr>
<td>
<label> Mã NV</label>
</td>
<td>
 <input id="maNV" name="maNV" value="" class='required '/> 
 </td>
 </tr>
 <tr>
<td>
<label>Tên NV </label>
</td>
<td>
 <input id="tenNV" name="tenNV" value="" class='required '/> 
 </td>
 </tr>
 <tr>
<td>
<label>Tuổi </label>
</td>
<td>
 <input id="tuoi" name="tuoi" value="" class='required number'/> 
 </td>
 </tr>
 <tr>
<td>
<label> Giới tính</label>
</td>
<td>
<input type="radio" id='Nam' name="gioitinh" value="1"  checked /><label for="Nam"> Nam </label>
<input type="radio" id='Nu' name="gioitinh" value="0"  /><label for="Nu"> Nữ </label>
 </td>
 </tr>


<tr>
<td>
<label>Sở thích: </label>
</td>
<td>
<select id="sothichid" name="sothichid">
	<option value="0">Tất cả </option>
	#foreach($p in $preferences)
		<option value="$!p.id">$!p.ten</option>
	#end
	
</select>
 </td>
 </tr>


<tr>
<td>
<label>Khoa: </label>
</td>
<td>
<select id="khoaid" name="khoaid" class="required">
	<option value="0">Tất cả </option>
	#foreach($d in $departments)
		<option value="$!d.id">$!d.ten</option>
	#end
	
</select>

 </td>
 </tr>

 <tr>
<td>
<label> Hệ số lương </label>
</td>
<td>
 <input id="hesoluong" name="hesoluong" value=""/> 
 </td>
 </tr>
 <tr>
<td>
<label>Ngày sinh </label>
</td>
<td>
 <input id="ngaysinh" name="ngaysinh" value=""  class='required date'/> 
 </td>
 </tr>
 <tr>
<td>
<label>Hinh anh </label>
</td>
<td>
 <input id="hinhanh" name="hinhanh" value=""/> 
 </td>
 </tr>
 <tr>
<td>
<label>Mô tả </label>
</td>
<td>

 <textarea id='mota' name="mota"></textarea>
 </td>
 </tr>

</table>

</form>
<input type="button" id="skip" name="skip" value="Bo&#777; Qua" onClick="clearForm('form7');"/>
<input type="button" id="add" name="add" value="Đồng Ý" onClick="addObj('form7');" />


</fieldset>
</body>
