
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
#parse("common.vm")

<script type="text/javascript" src="jquery/ui/minified/jquery.ui.autocomplete.min.js"></script>

<script type="text/javascript" src="jquery/htmlbox/htmlbox.colors.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.styles.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.syntax.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.undoredomanager.js"></script>
<script type="text/javascript" src="jquery/htmlbox/htmlbox.min.js"></script>

#parse("javascript/form2_js.vm")

<script>

//****************************************
//javascript cho tung form
//****************************************
var mota;

function addObj(formName,formSuffix){
	var form =  jQuery("#" + formName + formSuffix);

	if(!form.validate().form()) {
		return false;	
	}
	var dataString = form.serialize();
	
	//serializeOthers :ham duoc viet ben file da include thu vien nay
	dataString += serializeOthers();

	var url = formName + "Insert.action";
	ajaxExe(dataString, url, "undefined");
}

function serializeOthers(){
	var dataString = "";

	//Them code vao day
	dataString += "&mota=" + mota.get_html();	
	//end

	return dataString;
}

//===========================
//ham goi trong thu vien javascript : form2_js.vm, neu khong dung thi de trong, return "";
//ham dung xoa field dac trung cua moi form
//===========================
function clearOthers(){

	//them code vao day
	mota.set_text("");
}

jQuery(function() {
	jQuery(".date").datepicker({	
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:',
		showButtonPanel: true,
		showOn: "button",
		buttonImage: "images/calendar.gif",
		buttonImageOnly: true

	});
	jQuery( ".date" ).datepicker( "option", "dateFormat", 'dd/mm/yy' );

	//textarea : wysiwyg
	mota = htmlBox("mota");

	});

</script>

<body >
<fieldset>
<legend>Th&ocirc;ng tin NV </legend>
<form id="form2AddForm">
<input type="hidden" id="employeeid" name="id" value="" />
<font style="color : red; bold : true; font-size : 14px;" ><div id="msg"> </div></font>
<table>
<tr>
<td>
<label> Mã NV</label>
</td>
<td>
 <input id="maNV" name="maNV" value="" class='required '/> 
 </td>
 </tr>
 <tr>
<td>
<label>Tên NV </label>
</td>
<td>
 <input id="tenNV" name="tenNV" value="" class='required '/> 
 </td>
 </tr>
 <tr>
<td>
<label>Tuổi </label>
</td>
<td>
 <input id="tuoi" name="tuoi" value="" class='required number'/> 
 </td>
 </tr>
 <tr>
<td>
<label> Giới tính</label>
</td>
<td>
<input type="radio" id='Nam' name="gioitinh" value="1"  checked /><label for="Nam"> Nam </label>
<input type="radio" id='Nu' name="gioitinh" value="0"  /><label for="Nu"> Nữ </label>
 </td>
 </tr>

<tr>
<td>
<label>Sở thích: </label>
</td>
<td>
<select id="sothichid" name="sothichid">
	<option value="0">Tất cả </option>
	#foreach($p in $preferences)
		<option value="$!p.id">$!p.ten</option>
	#end
	
</select>
 </td>
 </tr>


<tr>
<td>
<label>Khoa: </label>
</td>
<td>
<select id="khoaid" name="khoaid" class="required">
	<option value="0">Tất cả </option>
	#foreach($d in $departments)
		<option value="$!d.id">$!d.ten</option>
	#end
	
</select>

 </td>
 </tr>

 <tr>
<td>
<label> Hệ số lương </label>
</td>
<td>
 <input id="hesoluong" name="hesoluong" value=""/> 
 </td>
 </tr>
 <tr>
<td>
<label>Ngày sinh </label>
</td>
<td>
 <input id="ngaysinh" name="ngaysinh" value=""  class='required date'/> 
 </td>
 </tr>
 <tr>
<td>
<label>Hinh anh </label>
</td>
<td>
 <input id="hinhanh" name="hinhanh" value=""/> 
 </td>
 </tr>
 <tr>
<td>
<label>Mô tả </label>
</td>
<td>

 <textarea id='mota'></textarea>
 </td>
 </tr>

</table>

</form>
<input type="button" id="skip" name="skip" value="Bo&#777; Qua" onClick="clearForm('form2','AddForm');"/>
<input type="button" id="add" name="add" value="Đồng Ý" onClick="addObj('form2','AddForm');" />


</fieldset>
</body>